.home-container {

    display: flex;
    justify-content: center !important;
    align-items: center !important;

  }
  
  .card {
    max-width: 640px;
    margin-top: 2em;
    width: 500px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px ;
    

    

  }
  .example-ripple-container {
    cursor: pointer;
    text-align: center;
  color: #6600FF  ;
    width: 200px;
    height: 150px;
    line-height: 150px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }

  .example-ripple-container:hover {
    transform: scale(1.0);
    background-color: #f2f2f2;
  }
  
  /** Styles to make the demo look better. */
  .example-ripple-checkbox {
    margin: 6px 12px 6px 0;
  }
  
  .example-ripple-form-field {
    margin: 0 12px 0 0;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .card {
      max-width: 90%;
    }
  }
  